# 1. Dossier de données lourd (Images)
dataset_animaux/

# 2. Fichiers compilés Java (Générés automatiquement par javac)
*.class
neurone/*.class

# 3. Sauvegardes des poids du réseau de neurones (Modèles entraînés)
cerveau_*.txt
*.txt

# 4. Configurations locales des IDE (VS Code, IntelliJ, Eclipse)
.vscode/
.idea/
*.iml

# 5. Fichiers systèmes temporaires (Windows/Mac)
Thumbs.db
.DS_Store