# Fichiers compilés Java
*.class

# Dossiers d'éditeurs de code (pour éviter les conflits si certains utilisent Eclipse et d'autres VSCode)
.idea/
.vscode/
*.iml
*.project
*.classpath
*.settings/

# Le dataset d'images (CRITIQUE : ne doit pas être versionné ni rendu)
dataset_animaux/
*.jpg
*.png

# Fichiers de log ou systèmes
.DS_Store
Thumbs.db